In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
# load availability_df csv file
#availability_df = pd.read_csv('availability_df.csv')
# load demand_df csv file
demand_df = pd.read_csv('demand_df.csv')
#forecasts_df=pd.read_csv('forecasts_df.csv')
#exchanges_df=pd.read_csv('exchanges_df.csv')
#fuel_prices_df=pd.read_csv('fuel_prices_df.csv')

In [17]:
demand_df.head(2)

,datetime,DE10-380,DE100-380,DE102-380,DE103-380,DE104-380,DE105-220,DE106-220,DE107-380,DE108-220,...,way/953757608-380,way/95434457-380,way/954971276-220,way/955268863-380,way/957746797-380,way/97825259-380,way/97857512-220,way/979801144-380,demand_CRM_pos,demand_CRM_neg
0,2023-01-01 00:00:00,15.032402,43.123039,30.566963,135.282349,36.602341,22.839851,5.853340,2.992226,64.107429,...,21.310013,4.071022,293.035675,71.759529,8.646011,21.024498,67.805992,16.457352,2756,2827
1,2023-01-01 01:00:00,14.593048,41.862679,29.673584,131.328445,35.532570,22.172310,5.682259,2.904778,62.233765,...,20.687187,3.952034,284.471115,69.662216,8.393311,20.410011,65.824226,15.976349,2756,2827

In [15]:
Cement_plants_demand=pd.read_csv('Cement_plants_demand.csv')
Cement_plants_demand.head()

,datetime,way/24765111-220,way/787265962-220,way/42560068-380,way/42797575-380,way/28956649-220,way/942448206-380,way/157164284-220,way/42560068-380.1
0,01-01-35 0:00,79.6,66.33,66.33,59.7,72.97,126.03,33.729751,0.0
1,01-01-35 1:00,79.6,66.33,66.33,59.7,72.97,126.03,25.335082,0.0
2,01-01-35 2:00,79.6,66.33,66.33,59.7,72.97,126.03,15.238925,0.0
3,01-01-35 3:00,79.6,66.33,66.33,59.7,72.97,126.03,10.765944,0.0
4,01-01-35 4:00,79.6,66.33,66.33,59.7,72.97,126.03,12.379725,0.0

In [16]:
Cement_plants_demand['datetime']=demand_df['datetime']
Cement_plants_demand.head(2)

,datetime,way/24765111-220,way/787265962-220,way/42560068-380,way/42797575-380,way/28956649-220,way/942448206-380,way/157164284-220,way/42560068-380.1
0,2023-01-01 00:00:00,79.6,66.33,66.33,59.7,72.97,126.03,33.729751,0.0
1,2023-01-01 01:00:00,79.6,66.33,66.33,59.7,72.97,126.03,25.335082,0.0

In [ ]:
# subtract the timeseries of Cement plants for the

In [8]:
#demand_df['datetime']=exchanges_df['datetime']
#forecasts_df['datetime']=demand_df['datetime']
#availability_df['datetime']=demand_df['datetime']
fuel_prices_df['datetime']=demand_df['datetime']

In [9]:
#forecasts_df.to_csv('forecasts_df.csv', index=False)
#exchanges_df.to_csv('exchanges_df.csv', index=False)
#availability_df.to_csv('availability_df.csv', index=False)
fuel_prices_df.to_csv('fuel_prices_df.csv', index=False)
#demand_df.to_csv('demand_df.csv', index=False)